<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>PixelNova | Contacto</title>
</head>
<body>
    <!--Header + Navegación-->
    <header>
        <!--Imagen de cabecera con logotipo de la empresa-->
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/image/logo-pixelnova3.png" alt="Logo PixelNova - Diseño Web">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="activo">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contacto">
            <h2>Contacto</h2>
            <p>Puedes encontrarnos en nuestra oficina o contactar con nosotros.</p>
            <!--MAPA-->
            <div class="contacto_contenedor">
                <div class="mapa">
                    <img src="../assets/image/Mapa.png" alt="Mapa con la ubicación de PixelNova">
                </div>
                <!--DATOS DE CONTACTO-->
                <div class="datos_contacto">
                    <h3>PixelNova</h3>
                    <p><strong>Dirección:</strong>Calle Ficticia 123, Sevilla</p>
                    <p><strong>Teléfono:</strong>666 123 456</p>
                    <p><strong>Email:</strong>contacto@pixelnova.com</p>
                    <p><strong>Horario:</strong>Lunes a Viernes, 9:00 - 18:00</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
            <a href="#">Instagram</a>
            <a href="#">X</a>
            <a href="#">LinkedIn</a>
        </div>
        <p>Calle Ficticia 123, Sevilla</p>
        <p>2025 PixelNova - Aviso legal</p>
    </footer>
</body>
</html>