<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>PixelNova | Productos</title>
</head>
<body>
    <!--Header + Navegación-->
    <header>
        <!--Imagen de cabecera con logotipo de la empresa-->
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/image/logo_def.png" alt="Logo PixelNova - Diseño Web">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html" class="activo">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Galeria de fotos de productos que ofrece la empresa-->
        <section class="productos">
            <h2>Productos</h2>
            <div class="productos-grid">
                <!--Proyecto_1-->
                <article class="proyecto">
                    <img src="../assets/image/Proyecto_1_WebCorporativa.png" alt="Proyecto web corporativa">
                    <h3>Web corporativa</h3>
                    <p>Diseño moderno para empresas.</p>
                </article>
                <!--Proyecto_2-->
                <article class="proyecto">
                    <img src="../assets/image/Proyecto_2_TiendaOnline.png" alt="Diseño de tienda online">
                    <h3>Tienda online</h3>
                    <p>E-commerce optimizado para ventas.</p>
                </article>
                <!--Proyecto_3-->
                <article class="proyecto">
                    <img src="../assets/image/Proyecto_3_WebResponsive.png" alt="Diseño de web responsive">
                    <h3>Web responsive</h3>
                    <p>Web adaptada a todos los dispositivos.</p>
                </article>
                <!--Proyecto_4-->
                <article class="proyecto">
                    <img src="../assets/image/Proyecto_4_Blog.png" alt="Blog profesional">
                    <h3>Blog profesional</h3>
                    <p>Blog optimizado para SEO.</p>
                </article>
                <!--Proyecto_5-->
                <article class="proyecto">
                    <img src="../assets/image/Proyecto_5_Portfolio.png" alt="Portfolio">
                    <h3>Portfolio</h3>
                    <p>Web personal.</p>
                </article>
                <!--Proyecto_6-->
                <article class="proyecto">
                    <img src="../assets/image/Proyecto_6_LandingPage.png" alt="Landing page">
                    <h3>Landing page</h3>
                    <p>Página de aterrizaje para campañas.</p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
            <a href="https://www.instagram.com/"><img src="../assets/image/instagram.png" alt="Instagram"></a>
            <a href="https://x.com/?lang=es"><img src="../assets/image/logo_X.png" alt="X"></a>
            <a href="https://es.linkedin.com/"><img src="../assets/image/linkedin.png" alt="LinkedIn"></a>
        </div>
        <p>Calle Ficticia 123, Sevilla</p>
        <p>2025 PixelNova - Aviso legal</p>
    </footer>
</body>
</html>